body {
  margin: 0px;
  padding: 0px;
  color: #747474;
  word-spacing: -0.2em;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}
@media all and (max-width: 805px) {
  body {
    width: 99%;
  }
}

a {
  color: #383838;
  text-decoration: none;
}
a:hover {
  color: #a0ce4e;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

article {
  font-size: 13px;
  text-align: justify;
}

.inline {
  display: inline-block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.scale {
  width: 100%;
}

.text-center {
  text-align: center;
}

.big {
  margin: auto auto 1em auto;
  font-size: 28px;
  color: #383838;
}

.small {
  font-size: 16px;
  color: #383838;
}

.center-container {
  max-width: 1000px;
  margin: auto;
}

.theme-clr {
  color: #a0ce4e;
  cursor: pointer;
}

.button-theme-clr {
  margin-right: 2.5em;
  padding: 0 1.5em 0 1.5em;
  height: 43px;
  line-height: 43px;
  font-size: 14px;
  font-weight: bold;
  color: #54770f;
  text-shadow: 0.5px 1px 1px white;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: linear-gradient(bottom, #7b9c43 0%, #aad75d 55%);
  background-image: -o- linear-gradient(bottom, #7b9c43 0%, #aad75d 55%);
  background-image: -moz- linear-gradient(bottom, #7b9c43 0%, #aad75d 55%);
  background-image: -webkit- linear-gradient(bottom, #7b9c43 0%, #aad75d 55%);
  background-image: -ms- linear-gradient(bottom, #7b9c43 0%, #aad75d 55%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7b9c43), color-stop(0.55, #aad75d));
  cursor: pointer;
}
.button-theme-clr:hover {
  background-image: bottom, #7b9c43 89%, #aad75d 55%;
  background-image: -o- bottom, #7b9c43 89%, #aad75d 55%;
  background-image: -moz- bottom, #7b9c43 89%, #aad75d 55%;
  background-image: -webkit- bottom, #7b9c43 89%, #aad75d 55%;
  background-image: -ms- bottom, #7b9c43 89%, #aad75d 55%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.89, #7b9c43), color-stop(0.55, #aad75d));
}

@media all and (min-width: 816px) {
  .menu {
    position: fixed;
    top: 0;
    height: 4.5em;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
    background: white;
    z-index: 10;
    opacity: 0.9;
  }
  .menu .menu-wrapper, .menu .menu-list {
    margin: 0 auto;
    padding: 0;
  }
  .menu .menu-list {
    width: 800px;
    overflow: hidden;
  }
  .menu .menu-list .first > a {
    border-top: 3px solid #a0ce4e;
    color: #a0ce4e;
  }
  .menu .menu-avada {
    position: relative;
    float: left;
    margin-top: 1.6em;
    padding-left: 1%;
    width: 92px;
  }

  .prim-menu {
    line-height: 4.5em;
    padding: 0 2% 0 1%;
  }
  .prim-menu:hover > .hidden {
    display: block;
  }
  .prim-menu > a {
    display: inline-block;
    font-size: 14px;
  }
  .prim-menu > a:hover {
    border-top: 3px solid #a0ce4e;
  }
  .prim-menu .hidden {
    display: none;
    position: absolute;
    padding: 0em;
    top: 100%;
    width: 12%;
    line-height: 2.2em;
    border-top: 3px solid #a0ce4e;
    font-size: 0.9em;
  }
  .prim-menu .hidden li {
    padding-left: 0.8em;
    background-color: #ECEBED;
    border-bottom: 1px solid #dcdadb;
  }
  .prim-menu .hidden li:hover {
    background-color: #fff;
  }
  .prim-menu .hidden a {
    color: #565657;
  }

  .mobile-menu {
    display: none;
  }
}
@media all and (min-width: 816px) and (max-width: 915px) {
  .menu .menu-list {
    width: 700px;
  }
}
@media all and (min-width: 816px) and (max-width: 915px) {
  .prim-menu {
    padding: 0 1%;
  }
}
@media all and (max-width: 815px) {
  .menu {
    margin: 1.5em;
    max-width: 840px;
  }
  .menu .mobile-menu {
    display: block;
    position: relative;
    margin-top: 1.45em;
    padding: 0.6em 0.5em 0.6em 1em;
    max-width: 100%;
    border: 1px solid #D1D1D1;
    background-image: url("../img/mobile_menu_icon.png");
    background-repeat: no-repeat;
    background-position: right;
    font-size: 0.8em;
  }
  .menu .mobile-menu a {
    display: block;
    position: relative;
    text-decoration: none;
    width: 100%;
    color: #333333;
    text-align: left;
  }
  .menu .menu-avada {
    margin: 1.25em auto 0 auto;
    width: 100px;
  }
  .menu .menu-list {
    display: none;
    margin: 0 2px 0 0;
    padding: 0;
  }
  .menu .menu-list .first {
    border-top: 0px;
  }
  .menu .menu-list a {
    display: inline-block;
    margin: 0.6em 0 0.6em 0;
    text-decoration: none;
    width: 90%;
    color: #333333;
    font-size: 0.8em;
  }

  .prim-menu {
    margin: 0;
    width: 100%;
    border-top: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
  }
  .prim-menu:last-child {
    border-bottom: 1px solid #d1d1d1;
  }
  .prim-menu > a {
    padding-left: 1em;
  }
  .prim-menu .hidden {
    padding: 0;
  }
  .prim-menu .hidden li {
    border-top: 1px solid #d1d1d1;
  }
  .prim-menu .hidden li:before {
    content: "- ";
    padding-left: 0.5em;
  }
}
.logo {
  display: block;
  margin-top: 4.5em;
  border-bottom: 1px solid #d1d1d1;
  max-height: 430px;
}
@media all and (max-width: 805px) {
  .logo {
    margin: 0;
    border-top: 1px solid #d1d1d1;
  }
}
.logo .logo-holder {
  position: relative;
  max-width: 920px;
  margin: 0 auto;
}
.logo img {
  display: block;
}

.boxes-holder {
  padding: 3em 0 3em 10px;
  width: 99%;
  border-bottom: 1px solid #d1d1d1;
}
.boxes-holder .box {
  position: relative;
  width: 28%;
  padding-right: 3em;
}
@media all and (max-width: 915px) {
  .boxes-holder .box {
    padding-right: 4%;
  }
}
@media all and (max-width: 805px) {
  .boxes-holder .box {
    width: 95%;
    padding: 0 0 2em 0;
  }
}
.boxes-holder .box header {
  letter-spacing: -0.05em;
}
@media all and (max-width: 805px) {
  .boxes-holder .box header {
    padding-bottom: 1em;
  }
}
.boxes-holder .dot {
  height: 2em;
  width: 2em;
  margin-right: 1em;
  background-color: #383838;
  border: 1px solid #383838;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  vertical-align: -0.7em;
}
.boxes-holder header {
  padding-bottom: 2em;
}
.boxes-holder article {
  line-height: 1.5em;
}

.summary {
  background-color: #f8f8f8;
  border-bottom: 1px solid #d1d1d1;
}
@media all and (max-width: 1000px) {
  .summary {
    padding: 0 1%;
  }
}
.summary .heading {
  margin-bottom: 7px;
  padding: 3em 0;
  border-bottom: 1px solid #d1d1d1;
}
.summary .browsers {
  padding-top: 3em;
  border-top: 1px solid #d1d1d1;
}

.posts {
  margin-top: 1em;
  padding: 0 0 2em 10px;
  width: 99%;
  border-bottom: 1px solid #d1d1d1;
}
@media all and (max-width: 805px) {
  .posts {
    width: 97%;
    padding-bottom: 1.5em;
  }
}
.posts .description-column {
  position: relative;
  padding-right: 1em;
  width: 48%;
}
@media all and (max-width: 805px) {
  .posts .description-column {
    width: 100%;
    padding-right: 0;
  }
}
.posts .description-column header {
  padding: 2em 0;
}
.posts .description-column article {
  padding: 2em 0;
  line-height: 1.8em;
  border-top: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}
.posts .description-column ul {
  list-style-type: square;
  padding-left: 1.5em;
  line-height: 1em;
}
.posts .description-column ul li {
  margin-bottom: 1.3em;
}
.posts .description-column footer {
  margin-top: 2em;
}
.posts .post-list {
  padding-top: 2em;
  width: 48%;
  float: right;
}
@media all and (max-width: 805px) {
  .posts .post-list {
    width: 95%;
    float: left;
  }
}
.posts .post-list li {
  margin-bottom: 3.5em;
}
.posts .post-img {
  width: 144px;
  height: 92px;
}
.posts .post .heading {
  margin-left: 1em;
}
@media all and (max-width: 410px) {
  .posts .post .heading {
    font-size: 0.8em;
    width: 50%;
  }
}
.posts .post header a {
  font-size: 13px;
}
.posts .post aside {
  margin-top: 0.5em;
  font-size: 0.8em;
}
.posts .post .time {
  padding-right: 1em;
}
.posts .post .comment {
  padding-left: 1em;
  border-left: 1px solid black;
}
.posts .post article {
  margin-top: 1em;
  margin-left: 1em;
  width: 66.38%;
}
@media all and (max-width: 990px) {
  .posts .post article {
    width: 55%;
  }
}
@media all and (max-width: 410px) {
  .posts .post article {
    width: 50%;
  }
}

.images-panel {
  margin: 0 auto;
  border-top: 1px solid #d1d1d1;
}
.images-panel ul {
  padding: 0 1.6%;
}
@media all and (max-width: 980px) {
  .images-panel ul {
    width: 650px;
    margin: 0 auto;
  }
}
@media all and (max-width: 700px) {
  .images-panel ul {
    width: 325px;
    margin: 0 auto;
  }
}
.images-panel li {
  display: inline-block;
  padding: 0.2em;
}

.fancy-list {
  margin-top: 1.5em;
  width: 48%;
}
@media all and (max-width: 805px) {
  .fancy-list {
    width: 95%;
  }
}
.fancy-list header {
  margin-top: 2.5em;
  margin-bottom: 1.5em;
}
.fancy-list ul {
  list-style-type: square;
  padding-left: 1.5em;
  font-size: 0.8em;
}
.fancy-list li {
  margin-bottom: 1.3em;
}

.posts .mobile-img {
  margin-top: 4.5em;
  width: 50%;
  float: left;
}
@media all and (max-width: 805px) {
  .posts .mobile-img {
    width: 70%;
  }
}

.silver-footer {
  position: relative;
  padding: 4em 2% 0 2%;
  top: -4px;
  height: 190px;
  background-color: #f8f8f8;
  background-image: url("../img/bkgd13.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.silver-footer .purchase {
  position: relative;
  float: left;
  padding: 3.6%;
  border-left: 3px solid #a0ce4e;
  border-right: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  background-color: white;
}
.silver-footer header {
  float: left;
  margin-bottom: 0.7em;
}
.silver-footer article {
  float: left;
  padding-right: 0.5em;
  letter-spacing: -0.5px;
  font-size: 12px;
}
.silver-footer .button-theme-clr {
  margin: 0;
  float: right;
}
@media all and (max-width: 875px) {
  .silver-footer .button-theme-clr {
    display: none;
  }
}
.silver-footer .mobile-btn {
  display: none;
}
@media all and (max-width: 875px) {
  .silver-footer .mobile-btn {
    display: inline-block;
    margin-top: 3%;
    width: 95%;
  }
}
@media all and (max-width: 630px) {
  .silver-footer .mobile-btn {
    width: 90%;
  }
}
@media all and (max-width: 470px) {
  .silver-footer .mobile-btn {
    width: 87%;
  }
}

.grey-footer, .dark-footer {
  padding-left: 10px;
}
.grey-footer a, .dark-footer a {
  color: #BFBFBF;
}
.grey-footer a:hover, .dark-footer a:hover {
  color: #a0ce4e;
}

.grey-footer {
  background-color: #363839;
  padding-top: 2em;
  height: auto;
  border-bottom: 1px solid #505152;
}
.grey-footer header {
  font-weight: bold;
  color: white;
  font-size: 1em;
  margin-bottom: 1.5em;
  height: 22px;
}
.grey-footer .about, .grey-footer .r-posts, .grey-footer .r-tweets, .grey-footer .r-works {
  width: 21%;
  vertical-align: top;
  font-size: 0.8em;
}
@media all and (max-width: 805px) {
  .grey-footer .about, .grey-footer .r-posts, .grey-footer .r-tweets, .grey-footer .r-works {
    width: 95%;
    padding-bottom: 2.5em;
  }
}
.grey-footer .r-posts, .grey-footer .r-tweets, .grey-footer .r-works {
  padding-left: 2.1em;
}
@media all and (max-width: 805px) {
  .grey-footer .r-posts, .grey-footer .r-tweets, .grey-footer .r-works {
    padding-left: 0;
  }
}
.grey-footer .r-posts ul {
  margin-top: 0;
}
.grey-footer .r-posts ul li {
  line-height: 3em;
  font-size: 0.8em;
  border-bottom: 1px solid #505152;
}
.grey-footer .r-posts ul li:first-child {
  line-height: 1em;
  padding-bottom: 1em;
  vertical-align: text-top;
}
.grey-footer .r-tweets li {
  background: url("../img/icons/twitter-icon.png") no-repeat top left;
  padding-left: 2.5em;
}
@media all and (max-width: 805px) {
  .grey-footer .r-tweets li {
    padding-bottom: 1.5em;
  }
}
.grey-footer .r-tweets .tweet-time, .grey-footer .r-tweets p {
  font-size: 0.8em;
  line-height: 1.5em;
}
.grey-footer .r-tweets p {
  margin-bottom: 0;
}
.grey-footer .r-works li {
  display: inline-block;
}
.grey-footer .r-works li:hover {
  opacity: 0.6;
}
.grey-footer .r-works img {
  height: 60px;
  width: 60px;
}

.dark-footer {
  padding-bottom: 1em;
  padding-top: 1.5em;
  height: 2em;
  background-color: #282a2b;
}
@media all and (max-width: 805px) {
  .dark-footer {
    height: 4em;
  }
}
.dark-footer .copyright {
  font-size: 0.7em;
  float: left;
  line-height: 2em;
}
@media all and (max-width: 805px) {
  .dark-footer .copyright {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
  }
}
.dark-footer .share {
  float: right;
}
@media all and (max-width: 805px) {
  .dark-footer .share {
    display: block;
    float: none;
    width: 252px;
    margin: 0 auto;
  }
}
.dark-footer .share a {
  display: block;
  padding-left: 1em;
  width: 20px;
  float: left;
  text-indent: -9999px;
}

.vimeo {
  background: url("../img/icons/vimeo.png") no-repeat top left;
}

.pinterest {
  background: url("../img/icons/pinterest.png") no-repeat top left;
}

.dribbble {
  background: url("../img/icons/dribbble.png") no-repeat top left;
}

.rss {
  background: url("../img/icons/rss.png") no-repeat top left;
}

.linkedin {
  background: url("../img/icons/linkedin.png") no-repeat top left;
}

.twitter {
  background: url("../img/icons/twitter.png") no-repeat top left;
}

.facebook {
  background: url("../img/icons/facebook.png") no-repeat top left;
}
